a {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    display: block;
    margin: 15px;
    padding: 10px;
    border-radius: 6px;
    
    background-color: hsl(0, 0%, 20%);

  }
  a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
  }
  